# Terraform
.terraform/
*.tfstate
*.tfstate.*
crash.log
crash.*.log
*.tfvars
*.tfvars.json
override.tf
override.tf.json
*_override.tf
*_override.tf.json
.terraformrc
terraform.rc

# Node
node_modules/
dist/
npm-debug.log*

# Python
__pycache__/
*.py[cod]
*$py.class
venv/
.env
*.env.local
*.env.*.local

# Local SQLite dev database
backend/app/employees.db

# OS
.DS_Store
Thumbs.db
